[submodule "dep/polycentricandroid"]
	path = dep/polycentricandroid
	url = https://gitlab.futo.org/videostreaming/polycentricandroid.git
[submodule "app/src/stable/assets/sources/kick"]
	path = app/src/stable/assets/sources/kick
	url = https://gitlab.futo.org/videostreaming/plugins/kick.git
[submodule "app/src/stable/assets/sources/odysee"]
	path = app/src/stable/assets/sources/odysee
	url = https://gitlab.futo.org/videostreaming/plugins/odysee.git
[submodule "app/src/stable/assets/sources/nebula"]
	path = app/src/stable/assets/sources/nebula
	url = https://gitlab.futo.org/videostreaming/plugins/nebula.git
[submodule "app/src/stable/assets/sources/patreon"]
	path = app/src/stable/assets/sources/patreon
	url = https://gitlab.futo.org/videostreaming/plugins/patreon.git
[submodule "app/src/stable/assets/sources/peertube"]
	path = app/src/stable/assets/sources/peertube
	url = https://gitlab.futo.org/videostreaming/plugins/peertube.git
[submodule "app/src/stable/assets/sources/rumble"]
	path = app/src/stable/assets/sources/rumble
	url = https://gitlab.futo.org/videostreaming/plugins/rumble.git
[submodule "app/src/stable/assets/sources/soundcloud"]
	path = app/src/stable/assets/sources/soundcloud
	url = https://gitlab.futo.org/videostreaming/plugins/soundcloud.git
[submodule "app/src/stable/assets/sources/twitch"]
	path = app/src/stable/assets/sources/twitch
	url = https://gitlab.futo.org/videostreaming/plugins/twitch.git
[submodule "app/src/stable/assets/sources/youtube"]
	path = app/src/stable/assets/sources/youtube
	url = https://github.com/netux/grayjay-source-youtube.git
[submodule "app/src/unstable/assets/sources/kick"]
	path = app/src/unstable/assets/sources/kick
	url = https://gitlab.futo.org/videostreaming/plugins/kick.git
[submodule "app/src/unstable/assets/sources/nebula"]
	path = app/src/unstable/assets/sources/nebula
	url = https://gitlab.futo.org/videostreaming/plugins/nebula.git
[submodule "app/src/unstable/assets/sources/odysee"]
	path = app/src/unstable/assets/sources/odysee
	url = https://gitlab.futo.org/videostreaming/plugins/odysee.git
[submodule "app/src/unstable/assets/sources/patreon"]
	path = app/src/unstable/assets/sources/patreon
	url = https://gitlab.futo.org/videostreaming/plugins/patreon.git
[submodule "app/src/unstable/assets/sources/peertube"]
	path = app/src/unstable/assets/sources/peertube
	url = https://gitlab.futo.org/videostreaming/plugins/peertube.git
[submodule "app/src/unstable/assets/sources/rumble"]
	path = app/src/unstable/assets/sources/rumble
	url = https://gitlab.futo.org/videostreaming/plugins/rumble.git
[submodule "app/src/unstable/assets/sources/soundcloud"]
	path = app/src/unstable/assets/sources/soundcloud
	url = https://gitlab.futo.org/videostreaming/plugins/soundcloud.git
[submodule "app/src/unstable/assets/sources/twitch"]
	path = app/src/unstable/assets/sources/twitch
	url = https://gitlab.futo.org/videostreaming/plugins/twitch.git
[submodule "app/src/unstable/assets/sources/youtube"]
	path = app/src/unstable/assets/sources/youtube
	url = https://github.com/netux/grayjay-source-youtube.git
[submodule "dep/futopay"]
	path = dep/futopay
	url = https://gitlab.futo.org/videostreaming/futopayclientlibraries.git
